<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'guy.jpeg' %}">

    <title>KC Steblay</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">KC Steblay</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
      <a class="nav-item nav-link active" href="{% url 'allblogs' %}">Blog</a>
      <a class="nav-item nav-link" href="{% static 'KC Steblay - Resume.pdf' %}">Resume</a>
    </div>
  </div>
</nav>
    </header>
    <div class="container">
	    <main role="main">
	    	<h1 class="text-center pt-3">Blog</h1>
	    	<br/>
	    	<br/>
	    	<h2>Latest Posts</h2>
	    	<hr />

        <div class="row mb-2">

	    	{% for blog in blog.all %}

          <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{ blog.tag }}</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="{% url 'detail' blog.id %}">{{ blog.title }}</a>
              </h3>
              <div class="mb-1 text-muted">{{ blog.pub_date_pretty }}</div>
              <p class="card-text mb-auto">{{ blog.summary }}</p>
              <a href="{% url 'detail' blog.id %}">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" height=350 width=250 style="object-fit:cover" src="{{ blog.image.url }}" alt="Card image cap">
          </div>
          </div>

          {% endfor %}

          </div>

	    </main>
	 <div/>

    <footer class="text-muted">
      <div class="container">
        <p>© KC Steblay {% now "Y" %}</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  </body>
</html>